<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
            <img src="/assets/images/angular_logo.png" width="30" height="30" alt="AngularShop Ecommerce">
            ngshop
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shop" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
                        Shop
                    </a>
                </li>
            </ul>
            <div class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span>Cart</span>&nbsp;
                        <sup>
                            <span class="badge badge-danger">10</span>
                        </sup>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page">
                        Register
                    </a>
                </li>
                <li ngbDropdown class="nav-item dropdown">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        Username
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Action - 1</button>
                        <button ngbDropdownItem>Another Action</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem>Logout</button>
                    </div>
                </li>
            </div>
        </div>
    </div>
</nav>