<div class="jumbotron">
    <div class="row" *ngIf="product$ | async as product">
        <div class="col-4">
            <div class="w-100 bg-danger">
                <img [src]="product?.image" class="img-fluid">
            </div>
        </div>
        <div class="col-8">
            <h1 class="display-4">
                {{ product.name }}
            </h1>
            <h4>${{ product.price }}</h4>
            <p class="lead">
                {{ product.description }}
            </p>
        </div>
    </div>
    <p class="lead float-right">
        <a class="btn btn-primary btn-lg" href="#" role="button">
            Add to cart
        </a>
    </p>
</div>
