<div class="jumbotron">
    <div class="row">
        <div class="col-4">
            <div class="w-100 bg-danger">
                <img src="/assets/images/products/apple-watch.jpg" class="img-fluid">
            </div>
        </div>
        <div class="col-8">
            <h1 class="display-4">
                Product #{{ productId }}
            </h1>
            <h4>$400</h4>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae et ea fuga minus facere quibusdam atque
                velit natus iusto voluptatibus architecto facilis accusamus alias, recusandae consectetur iste qui est!
            </p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        </div>
    </div>
    <p class="lead float-right">
        <a class="btn btn-primary btn-lg" href="#" role="button">
            Add to cart
        </a>
    </p>
</div>
